<app-top-bar></app-top-bar>


<div>
  <nav class="navbar navbar-expand">
    <div class="navbar-nav mr-auto">
        <li class="nav-item">
            <button tabindex="0" [routerLink]="['/novo-filme']">
              <i class="material-icons whiteIcon">control_point_duplicate
                  </i>
              ADD FILME
            </button>            
        </li>
      <li class="nav-item">
          <button tabindex="0"  (click)="altoContraste()">
              <i class="material-icons whiteIcon" >
                  invert_colors
              </i> {{'CATALOGO.TITULO-BOTAO-ALTO-CONTRASTE' | translate }} 
          </button>
      </li>
      <li class="nav-item">
          <button tabindex="0" (click)="fonte(1)">
              <i class="material-icons whiteIcon">
                  add_circle_outline
              </i> {{ 'CATALOGO.TITULO-BOTAO-AUMENTAR-FONTE' | translate }} 
          </button>
      </li>
      <li class="nav-item">
          <button tabindex="0" (click)="fonte(0)">
              <i  class="material-icons whiteIcon">
                  block
              </i>{{ 'CATALOGO.TITULO-BOTAO-RESTAURAR-FONTE' | translate }} 
          </button>
      </li>
      <li class="nav-item">
          <button tabindex="0" (click)="fonte(-1)">
              <i class="material-icons whiteIcon">
                  remove_circle_outline
              </i>{{ 'CATALOGO.TITULO-BOTAO-DIMINUIR-FONTE' | translate }} 
          </button>
      </li>
      <li class="nav-item">
          <button tabindex="0" (click)="idioma(1)">
              <i class="material-icons whiteIcon">
                  language
              </i> {{ 'CATALOGO.TITULO-BOTAO-IDIOMA' | translate }}  pt-BR
          </button>          
      </li>
      <li class="nav-item">
          <button tabindex="0" (click)="idioma(0)">
              <i class="material-icons whiteIcon">
                  language
              </i>{{ 'CATALOGO.TITULO-BOTAO-IDIOMA' | translate }}  en-US
          </button>
      </li>
      <li class="nav-item">
          <button tabindex="0" (click)="idioma(-1)">
              <i class="material-icons whiteIcon">   
                  language
              </i>{{ 'CATALOGO.TITULO-BOTAO-IDIOMA' | translate }}  es-ES
          </button>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>










