<div *ngIf="filme.backdrop_path">
    <img tabindex="0" src="https://image.tmdb.org/t/p/original{{filme.backdrop_path}}" alt="Smiley face">
</div>
<div>
    <samp tabindex="0">Título</samp>
    <ul>
        <li tabindex="0">
            {{filme.title}}
        </li>
    </ul>
</div>
<div>
    <samp tabindex="0">Título Original</samp>
    <ul>
        <li tabindex="0">
            {{filme.original_title}}
        </li>
    </ul>
</div>
<div>
    <samp tabindex="0">Categorias</samp>
    <ul>
        <li tabindex="0" *ngFor="let genre of filme.genres">
            {{genre.name}}
        </li>
    </ul>
</div>
<div *ngIf="filme.release_date">
    <samp tabindex="0">Data de Lançamento</samp>
    <ul>
        <li tabindex="0">
            {{ filme.release_date | date }}
        </li>
    </ul>
</div>
<div *ngIf="filme.overview">
    <samp tabindex="0">Sinopse</samp>
    <ul>
        <li tabindex="0">
            {{filme.overview}}
        </li>
    </ul>
</div>
<button tabindex="0" [routerLink]="['/']">
    <i class="material-icons whiteIcon">arrow_back</i>
    VOLTAR
</button>