<!-- TEPLETE DO BACK DA API -->
<!-- <div *ngIf="filme.backdrop_path">
    <img tabindex="0" src="https://image.tmdb.org/t/p/original{{filme.backdrop_path}}" alt="Smiley face">
</div>
<div>
    <br>
    <samp tabindex="0">
        {{'CATALOGO.TITULO-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{filme.title}}
        </li>
    </ul>
</div>
<div>
    <samp tabindex="0">
        {{'CATALOGO.TITULO-ORIGINAL-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{filme.original_title}}
        </li>
    </ul>
</div>
<div>
    <samp tabindex="0">
        {{'CATALOGO.CATEGORIA-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0" *ngFor="let genre of filme.genres">
            {{genre.name}}
        </li>
    </ul>
</div>
<div *ngIf="filme.release_date">
    <samp tabindex="0">
        {{'CATALOGO.DATA-LANCAMENTO-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{ filme.release_date }}
        </li>
    </ul>
</div>
<div *ngIf="filme.overview">
    <samp tabindex="0">
        {{'CATALOGO.SINOPSE-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{filme.overview}}
        </li>
    </ul>
</div>
<button tabindex="0" [routerLink]="['/']">
    <i class="material-icons whiteIcon">arrow_back</i>
    {{'CATALOGO.TITULO-BOTAO-VOLTAR' | translate }}
</button> -->


<!-- TEPLETE DO BACK DA API -->
<div>
    <br>
    <samp tabindex="0">
        {{'CATALOGO.TITULO-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{filme.title}}
        </li>
    </ul>
</div>
<div>
    <samp tabindex="0">
        {{'CATALOGO.TITULO-ORIGINAL-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{filme.originalTitle}}
        </li>
    </ul>
</div>
<div>
    <samp tabindex="0">
        {{'CATALOGO.CATEGORIA-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0" *ngFor="let genre of filme.genres">
            {{genre.name}}
        </li>
    </ul>
</div>
<div *ngIf="filme.release_date">
    <samp tabindex="0">
        {{'CATALOGO.DATA-LANCAMENTO-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{ filme.release_date }}
        </li>
    </ul>
</div>
<div *ngIf="filme.overview">
    <samp tabindex="0">
        {{'CATALOGO.SINOPSE-FILME' | translate }}
    </samp>
    <ul>
        <li tabindex="0">
            {{filme.overview}}
        </li>
    </ul>
</div>
<button tabindex="0" [routerLink]="['/']">
    <i class="material-icons whiteIcon">arrow_back</i>
    {{'CATALOGO.TITULO-BOTAO-VOLTAR' | translate }}
</button>
