<mat-card>
    <mat-card-header>
        <mat-card-title tabindex="0" >FILMES</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form>
            <input tabindex="0"   (keyup)="applyFilter($event)" placeholder="BUSCAR FILME">
        </form>

        <br>

        <table>
            <tr>
                <th tabindex="0"  >TÍTULO </th>
                <th></th>
            </tr>
            <tr *ngFor="let filme of filmes">
                <td tabindex="0" >{{filme.title}}</td>
                <td >
                    <button tabindex="0" routerLink="/detalhes-filme/{{filme.id}}">
                        <i class="material-icons whiteIcon">view_headline</i>DETALHES
                    </button>
                </td>
            </tr>
        </table>
        <ngb-pagination tabindex="0" class="d-flex justify-content-center"
            [(page)]="pagina" (pageChange)="pageChanged($event)" [collectionSize]="totalPages" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </mat-card-content>
</mat-card>