<div>
    <h2 tabindex="0">FILMES</h2>
    <hr>
    <samp tabindex="0">
        ESCOLHA O IDIOMA
    </samp>
    <select tabindex="0" [(ngModel)]="idiomaSelecionado" (change)="onChange($event.target.value)">
        <option tabindex="0" *ngFor="let idioma of idiomas" value="{{idioma}}">{{idioma}}</option>
    </select>
</div>
<hr>
<form>
    <input tabindex="0" (keyup)="applyFilter($event)" placeholder="BUSCAR FILME">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th tabindex="0" scope="col">TÍTULO</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let filme of filmes">
                <td tabindex="0">{{filme.title}}</td>
                <td>
                    <button tabindex="0" routerLink="/detalhes-filme/{{filme.id}}">
                        <i class="material-icons whiteIcon">view_headline</i>DETALHES
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ngb-pagination tabindex="0" [(page)]="pagina" (pageChange)="pageChanged($event)" [collectionSize]="totalPages"
            [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</form>