<mat-card>
    <mat-card-header>
        <mat-card-title>FILMES</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form>
            <input  (keyup)="applyFilter($event)" placeholder="BUSCAR FILME">
        </form>

        <br>

        <table>
            <tr>
                <th >TÍTULO </th>
                <th></th>
            </tr>
            <tr *ngFor="let filme of filmes">
                <td>{{filme.title}}</td>
                <td>
                    <button routerLink="/detalhes-filme/{{filme.id}}">
                        <i class="material-icons whiteIcon">view_headline</i>DETALHES
                    </button>
                </td>
            </tr>
        </table>
        <ngb-pagination class="d-flex justify-content-center"
            [(page)]="pagina" (pageChange)="pageChanged($event)" [collectionSize]="totalPages" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </mat-card-content>
</mat-card>