<div>
  <h2 tabindex="0">
    {{'CATALOGO.TITULO-NOVO-FILME' | translate }}
  </h2>
</div>
<form [formGroup]="filme">
  <br>
  <div>
    <samp tabindex="0">
      {{'CATALOGO.TITULO-FILME' | translate }}
    </samp>
    <input tabindex="0" type="text" formControlName="title">
  </div>
  <br>
  <div>
    <samp tabindex="0">
      {{'CATALOGO.TITULO-ORIGINAL-FILME' | translate }}
    </samp>
    <input tabindex="0" type="text" formControlName="originalTitle" >
  </div>
  <br>
  <div>
    <samp tabindex="0">
      {{'CATALOGO.CATEGORIA-FILME' | translate }}
    </samp>
    <br>
    <div>
      <ng-select tabindex="0" [items]="genres" formControlName="genres" bindLabel="name" placeholder="Select item" appendTo="body"
        multiple="true" name="genres">
      </ng-select>
    </div>
  </div>
  <br>
  <div>
    <samp tabindex="0">
      {{'CATALOGO.DATA-LANCAMENTO-FILME' | translate }}
    </samp>
    <input  tabindex="0" formControlName="releaseDate"  type="date" ng-init="model=(releaseDate | date:'yyyy-MM-dd')"/>
  </div> 
  <br>
  <div>
    <samp tabindex="0">
      {{'CATALOGO.SINOPSE-FILME' | translate }}
    </samp>
    <input tabindex="0" formControlName="overview" type="text">
  </div>
  <br>
  <button type="submit" tabindex="0" [routerLink]="['/']" type="submit" (click)="salvarFilme()"
    [disabled]="!filme.valid">
    <i class="material-icons whiteIcon">check_circle_outline</i>
    {{'CATALOGO.TITULO-BOTAO-SALVAR' | translate }}
  </button>
  <button tabindex="0" [routerLink]="['/']">
    <i class="material-icons whiteIcon">highlight_off</i>
    {{'CATALOGO.TITULO-BOTAO-CANCELAR' | translate }}
  </button>
</form>