/* Global Styles */

.alto-contraste div {
  color: black;
}

a {
  color: black;
}

/* Input */

.alto-contraste mat-form-field  {
  border-color: black;
  color: black;
}


/* Button */
.alto-contraste button {
  color: black;
  border-color: black;

}

.alto-contraste app-top-bar {
  background-color: black;
}

.alto-contraste i {
  color: black;
}

.alto-contraste td {
  color: black;
}

.alto-contraste th {
  color: black;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/