/* Global Styles */

.alto-contraste div {
  color: black;
}

a {
  color: black;
}

.alto-contraste input {
  color: black;
  border-bottom-color: black;

}

.alto-contraste mat-form-field  {
  border-color: black;
  color: black;
}

.alto-contraste button {
  color: black;
  border-color: black;

}



.alto-contraste app-top-bar {
  background-color: black;
}

.alto-contraste i {
  color: black;
}

.alto-contraste td {
  color: black;
}

.alto-contraste th {
  color: black;
}


.alto-contraste ngb-pagination a:any-link {
  color: black;
  background-color: white;
}
.alto-contraste ngb-pagination .page-item.active .page-link  {
    border-color: black;
    background-color: black;
    color: white;
}





/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/