<div>
    <h1>  
        CATÁLOGO DE FILMES 
    </h1>
</div>

<br>

<div>
    <button (click)="altoContraste()">
        <i class="material-icons whiteIcon" >
            invert_colors
        </i>ALTO CONTRASTE
    </button>
    
    <button (click)="fonte(1)">
        <i class="material-icons whiteIcon">
            add
        </i>AUMENTAR FONTE
    </button>
    
    <button (click)="fonte(0)">
        <i  class="material-icons whiteIcon">
            check
        </i>REDEFINIR FONTE
    </button>

    <button  (click)="fonte(-1)">
        <i class="material-icons whiteIcon">
            remove
        </i>DIMINUIR FONTE
    </button>
</div>


